# ExCode Python 2

**ExCode is run by X-AI and Entrepreneurs Society**

---
[X-AI Facebook](https://www.facebook.com/exeAI)

[X-AI Sign Up](https://fixr.co/organiser/83306494)

---
[Entrepreneurs Society Facebook](https://www.facebook.com/ExeterEntrepreneurs)

[Entrepreneurs Society Guild Page](https://www.exeterguild.org/societies/exeterentrepreneurs/)

**Overview**


*   Recap
*   Boolean variables
*   Editing strings
*   Lists
*   Looping through lists
*   Building your own programs

# Recap
Last lesson we went through: outputting to screen, variables, manipulating variables, casting variables.

In [ ]:
print("You are able to print things to the screen.") #This is how you print things onto the screen

price_of_beer = 2.50      #Creating a boolean variable
pub_name = "The Vic"      #Creating a string variable
price_upstairs_tp = 5     #Creating an integer variable

print(price_of_beer)      #It is possible to just print out variables
print("The price of beer is", price_of_beer, "and the pub name is " + pub_name) #This is how to print variables alongside text

ex_value1 = (65 + 5) - 4            #Addition and subtraction
ex_value2 = ex_value1 * 24.5        #Multiplication
ex_value3 = ex_value1 / ex_value1   #Division

paper_cost = int(5.40)  #This casts to an integer, values round down when cast to integer, i.e. this equals 5.
pen_cost = float(15)    #This casts to a float
stamp_cost = str(0.84)  #This casts to a string

You are able to print things to the screen.
2.5
The price of beer is 2.5 and the pub name is The Vic

# Boolean Variables

Boolean variables can be only **True** or **False**. Therefore, they are often used when testing facts on variables. This can be done using comparison operators.

In [ ]:
example_1 = False #Creating a False boolean variable
example_2 = True  #Creating a True boolean variable

print("Is 6 greater than 4?", 6 > 4)                  #Greater than
print("Is 6 less than 4?", 6 < 4)                     #Less than
print("Is 5 greater than or equal to 5.0?", 5 >= 5.0) #Greater than or equal to
print("Is 5 less than or equal to 4.9?", 5 <= 4.9)    #Less than or equal to

small_number = 0.56
big_number = 78

test_val1 = (small_number == big_number)   #Is equal to. This is set to False because the two values in the variables are not the same                                             
test_val2 = (small_number != big_number)   #Is not equal to. This is set to True because the two values in the variables are the same

print("Are these two booleans the same?", test_val1 == test_val2) #You can also compare if boolean variables are the same

test_text = "A random sentence"
print("Are these sentences the same?:", test_text == "A random sentence") #It is also possible to test if strings are the same

Is 6 greater than 4? True
Is 6 less than 4? False
Is 5 greater than or equal to 5.0? True
Is 5 less than or equal to 4.9? False
Are these two booleans the same? False
Are these sentences the same?: True

# Editing Strings

Strings have lots of inbuilt functionality that allows for us to edit and gather data from them.

This includes accessing specific elements of a string, **slicing** parts of a string and finding the length of the string. There is a lot more functionality available but we will focus on these.

In [ ]:
sentence = "I walked to campus"
print(sentence[0])    #Prints out the first letter in the string
print(sentence[3])    #Prints out the fourth letter in the string
print(sentence[-1])   #Prints out the last letter in the string

word_walk = sentence[2:6]  #It is possible to slice a series of letters. This slices from the 2nd to the 6th, not including the 6th
print("1. " + word_walk)   

words_i_walked = sentence[:8]     #If the first number is left blank it starts from the beginning on the string, same applies to second number
print("2. " + words_i_walked)     

word_camp = sentence[-6:-2]       #Slices can use negative indexes. This slices from the 6th last letter to the 2nd last, not including the 2nd last
print("3. " + word_camp)        

length_string = len(sentence)        #It is possible to find the length of a string as an integer
print("4.",length_string)            #Printing out the length_string

I
a
s
1. walk
2. I walked
3. camp
4. 18

# Lists

**Lists** are a way of gathering many different variables and ordering them into a group. These variables can be accessed and interacted with using indexes, just like strings.

In [ ]:
days_of_week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]   #This is how to add to the list
days_of_week.append("Sun")                                  #This will add "Sun" to the end of the list
print(days_of_week)                                         #This will print out the entire list

tue = days_of_week[1]       #Individual members can be accessed using indexes
mon_tue = days_of_week[:2]  #Lists can also be sliced, this will be a new list with the first 2 members of the original list

days_of_week[3] = "Not Today"   #This will change the 4th element of the list to "Not Today"
print(days_of_week[3])          #This print shows that the 4th element is now "Not Today"

del days_of_week[1]         #This will delete 2nd element from the list
print(days_of_week)         #This print will show that "Tue" has been deleted and all the elements of the list have been shifted down one

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
Not Today
['Mon', 'Wed', 'Not Today', 'Fri', 'Sat', 'Sun']

# Looping through lists

It is possible to work your way through every single member of a list without explicitly writing code for each and every member. You can loop through every member of the list using something called a **for** loop, everything in the **block** following the **for** loop is repeated each time. Note that the block is created using the **tab key**.

In [ ]:
prime_numbers = [1,3,5,7,11,13]

for _number in prime_numbers:  #This is a for loop. It loops through every member of prime_numbers
  new_number = _number * 2  #This creates a variable that holds double the prime number, Note how this is indented with 'tab'
  print("The next prime number doubled is:", new_number)  #This then prints the new_number

print("The for loop has ended.")  #This is only printed once because it is not in the block

#In steps, this is how the for loop works.
#1. It assigns the first number, 1, to _number.
#2. It then creates a new variable which is double _number.
#3. double_number is then printed onto the screen.
#4. The block ends here so the loop restarts but with the next number.
#5. The loop ends once all the numbers have been used.
#6. Then "The for loop has ended" will be printed.

#Things to remember:
#You must indent everything you want to be repeated using the 'tab'key.
#Once the loop finishes you must unindent.

The next prime number doubled is: 2
The next prime number doubled is: 6
The next prime number doubled is: 10
The next prime number doubled is: 14
The next prime number doubled is: 22
The next prime number doubled is: 26
The for loop has ended.

# Build your own programs

Below are some questions to work on. If you have any questions ask the Teaching Assistant or look at the examples on this page.

1.)

Add **var_a** and **var_b** together and assign the result to another variable.

Check if the result is equal to **var_c**. Print out if it is true or false.

Check if the result is not equal to **var_c**. Print out if it is true or false.

In [ ]:
var_a = "43"  #Strings must be cast to interact with integers
var_b = 678
var_c = 31476

2.)

Create a variable with the value **45.32** and another variable with the value **47.4** and multiply these two together. Assign the result to a variable.

Check if the result is **greater than 2404.98**. Print out if it is true or false. 

Check if the result is **less than or equal to 2148.168**. Print out if it is true or false.

3.)

With the provided string and only using indexes, spell out the name "nemo" and print it out onto the screen.

In [ ]:
this_sentence = "When you come to a fork in the road, take it." #Remember the indexes start at 0.

4.)

With the provided string print out the **first 4 characters**.

Print out the **last 7 characters**.

Print out the word **isn't** using only slicing.

Print out the words **the same** using only negative index values.

In [ ]:
provided_text = "Timepiece just isn't the same anymore" #Remember index values start at 0.

5.)

Create a list of **integers** with the following values: **5,10,15,60,65**.

Now append **70** to the end of the list.

Now change the **first value** in the list to **50** and the **second value** to 55.

**Delete the third value** in the list.

Now print out the full list.

6.)

Using a **for loop**, print out every value in the list **multiplied by 3**.

Remember your indentations with **tab**.

In [ ]:
practice_list = [4,5,6,7,8,9]

7.) 

You are provided with a list and a variable holding the value **0**.

Using a **for loop**, loop through every number in the list and add it to **total_value**. 

Once you have done this print out the words **"The total of all these values is:"** followed by your **total_value**. 


When printing out the final sentence, remember to unindent your **tab** from the **for loop** using **backspace**.

In [ ]:
number_list = [53,76,2,-2,54,90,100]
total_value = 0

8.) 

Two lists are provided, one is holding some values and the other is empty.

Using a **for loop**, loop through the entire first list and check if each number is **larger than 56.7**. Append the **True** or **False** result from each of these comparisons to the second list.

Print out both lists at the end.

When your print, the first list should hold all the original 10 values, the second list should hold 10 **True** or **False** values.

In [ ]:
first_list = [56,45,76.8,-245,1,0,65.4,34.7,1,0.001]
second_list = []

**ExCode is run by X-AI and Entrepreneurs Society**

---
[X-AI Facebook](https://www.facebook.com/exeAI)

[X-AI Sign Up](https://fixr.co/organiser/83306494)

---
[Entrepreneurs Society Facebook](https://www.facebook.com/ExeterEntrepreneurs)

[Entrepreneurs Society Guild Page](https://www.exeterguild.org/societies/exeterentrepreneurs/)

---